.chart{
    margin:20px;
    padding: 20px;
    -webkit-box-shadow: 6px 4px 14px 0px rgba(0,0,0,0.32); 
    box-shadow: 6px 4px 14px 0px rgba(0,0,0,0.32);
    background-color: white;
}
.chartTitle{
    font-size: 25px;
    margin-bottom: 20px;
}