.dashboard {
  flex: 3;
  margin-top: 16px;
  height: 100%;
}
html,
body {
  height: 100%;
  overflow: auto;
}

.my-scroll-style {
  padding: 0;
  margin: 0;
  margin-top: 0;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: inherit;
}


.my-scroll-style::-webkit-scrollbar {
  display: none;
}