.sidebar {
  background: #212121;
  border-right: 1px solid #e5e5e5;
  position: sticky;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 60px;
  overflow: hidden;
  transition: 1s ease;
  z-index: 1000;
}

.sidebar:hover {
  width: 14rem;
  overflow: visible;
  transition: 1s;
}

.sidebarWrapper {
  padding: 20px;
  padding-top: 0;
  padding-left: 18px;
  margin-top: 0;
  color: #2c3e4e;
  position: sticky;
}

.sidebarMenu {
  margin-top: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.sidebarMenu ul,
li {
  outline: 0;
  margin: 0;
  padding: 0;
}

.logoTitle {
  font-family: MontserratBold;
  font-size: 16px;
  color: #a4a6b3;
  margin-left: 5px;
  margin-top: 1.875rem;
}
.logoImg {
  margin-top: 30px;
  margin-left: -2px;
  height: 30px;
  width: 30px;
}

.sidebarTitle {
  padding-left: 14px;
  margin-bottom: 0;
  padding-bottom: 0;
  font-family: MontserratRegular;
  font-size: 16px;
  color: rgb(193, 193, 194);
}

.sidebarList {
  list-style: none;
  padding: 5px;
  color: rgb(222, 221, 223);
}

.sidebarListItem {
  font-family: MontserratLight;
  padding: 10px;
  padding-left: 0;
  cursor: pointer;
  align-items: center;
  display: flex;
  font-size: 14px;
  color: #a4a6b3;
  border-radius: 6px;
  vertical-align: middle;
  margin-left: 1px;
}

.sidebarListItem.active,
.sidebarListItem:hover {
  background-color: rgba(159, 162, 180, 0.08);
  color: #dde2ff;
}

.sidebar a:visited {
  color: rgb(222, 221, 223);
  text-decoration-line: none;
}

.sidebar a:link {
  color: rgb(222, 221, 223);
  text-decoration-line: none;
}

.sidebar a:active {
  color: rgb(223, 221, 223);
}

.sidebarIcon {
  font-size: 2em;
  margin-right: 0.8rem;
  vertical-align: middle;
}

.userInfo {
  display: flex;
  margin-left: 0px 20px;
  border-radius: 10px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.userIcon {
  height: 60px;
  width: 60px;
  cursor: pointer;
  border-radius: 50%;
  float: left;
}

.sideBarTitle {
  font-family: MontserratBold;
  font-size: 20px;
  color: rgb(222, 221, 223);
}
.sideBarMessage {
  font-size: 15px;
  color: rgb(222, 221, 223);
}
.bolaStatusUsuario {
  background-color: #5d8c7b;
  border-radius: 50%;
  width: 9px;
  height: 9px;
  margin-top: 3px;
}
.sideBarMessageContainer {
  display: flex;
}

@media screen and (max-height: 750px) {
  .logoImg {
    margin-top: 10px;
  }

  .logoTitle {
    margin-top: 10px;
  }
}
